.reservation-list__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 1rem;
    
    .hour-picker, .calendar, .reservation-card {
        height: clamp(30rem, 90vh, 60rem);
    }

    .hour-picker {
        aspect-ratio: 5 / 12;
    }

    .reservation-card {
        aspect-ratio: 5 / 12;
    }

    .calendar {
        aspect-ratio: 18 / 21;
    }
}

