.form-header__button {
    border: none;
    width: 2rem;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    overflow: hidden;
    border-radius: .4rem;
    span {
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }

    .step-active {
      
    }
}

.p-stepper .p-stepper-panels {
    background-color: transparent;
    padding-top: 1em;
}

.p-stepper-nav {
    max-width: 20rem;
    margin-inline: auto;
    display: none;
}

.reservation-list__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    gap: 1rem;
    padding-top: 0;

    .hour-picker {
        aspect-ratio: 5 / 12;
    }

    .calendar {
        aspect-ratio: 18 / 21;
    }
}

.logout-button {
    position: fixed;
    top: .5rem;
    right: .5rem;
}

.back-button {
    position: fixed;
    top: .5rem;
    left: .5rem;
}

@media screen and (min-width: 90rem) {
    .hour-picker, .calendar, .reservation-card {
        height: clamp(30rem, 85vh, 60rem);
    }

    .reservation-card  {
        aspect-ratio: 5 / 12;
    }
}

@media screen and (max-width: 90rem) {
    .reservation-list__wrapper {
        $item-size: 50rem;

       display: flex;
       flex-direction: column;
       align-items: center;
       justify-items: flex-start;
        
       padding: 1rem 0;
        padding-inline: clamp(1rem, 10vw, 15rem);
        
        .calendar, .hour-picker, .reservation-card {
            width: 100%;
            max-width: $item-size;
        }

        .hour-picker {
            aspect-ratio: 12 / 5;
        }

        .reservation-card {
            min-height: 10rem;
        }

    }
}


.offer-list__wrapper {
    position: relative;
    padding: 1rem 4rem;
    max-width: 90rem;
    margin-inline: auto;
    h2 {
        font-weight: 500;
        font-size: 2.8rem;
    }

    .offer-row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 1rem;
        .offer-card {
            display: block;
            width: clamp(18rem, 24vw, 23rem);
        }
    }
}

@media screen and (max-width: 50rem) {
    .offer-row {
        flex-direction: column;
        align-items: center;
        gap: 2rem !important;
            
        .offer-card {
            display: block;
            width: clamp(18rem, 70vw, 23rem) !important;
        }
    }
}