<div class="reservation-list__wrapper">
  <app-calendar
    [(selected)]="selectedDate"
    (selectedChange)="selectedDateChange($event)"
    [reservedDates]="reservedDates"
    class="calendar"
  ></app-calendar>
  <app-hour-picker
    class="hour-picker"
    [reservedHours]="reservedHours"
    (selectedHourChange)="selectedHourChange($event)"
  ></app-hour-picker>
  <app-reservation-card
    class="reservation-card"
    [reservationData]="selectedReservation"
    (bookEvent)="bookNewReservation()"
    (onChange)="onCardChange()"
  >
  </app-reservation-card>
</div>
<p-button
  (onClick)="authService.logOut()"
  severity="secondary"
  class="secondary logout-button"
>
  Logout
</p-button>
