.login-card__wrapper {
    display: grid;
    place-items: center;
    min-height: 100vh;

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: stretch;        
    }

    form .login-button {
        width: 100%;
    }
}