<div class="login-card__wrapper">
  <p-card header="Login">
    <form [formGroup]="loginFrom" (ngSubmit)="handleFormSubmit()">
      <p-floatLabel>
        <input type="text" id="email" pInputText formControlName="email" />
        <label for="email">Email</label>
      </p-floatLabel>
      <p-floatLabel>
        <p-password
          formControlName="password"
          id="password"
          [feedback]="false"
        ></p-password>
        <label for="password">Password</label>
      </p-floatLabel>
      <a href="/register">
        You don't have an account <br />
        <span class="highlight"> Register </span>
      </a>

      <p-button
        label="Login"
        [text]="true"
        class="secondary"
        severity="secondary"
        styleClass="login-button"
        type="submit"
      ></p-button>
    </form>
  </p-card>
</div>
