.landing-page__wrapper {
    h1 {
        font-weight: 500;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        .about__wrapper {
            max-width: 90rem;
            margin-top: 4rem;
            display: flex;
            justify-content: space-between;
            width: 100%;
            position: relative;
            padding: 0 4rem;
            .description__wrapper  {
                font-size: 1.3rem;
                margin-top: 2rem;

                h2 {
                    width: 5em;
                    font-weight: 500;
                    margin-top: 1rem;
                    .title-highlight {
                        color: var(--accent-color)
                    }
                }

                p {
                    font-weight: 400;
                    line-height: 2.5em;
                    margin-bottom: 3em;
                    font-family: 'Meera Inimai';
                    padding: .1rem;
                }

                .button__wrapper {
                    display: flex;
                    gap: 1rem
                }
            }
            
            .image-gallery__wrapper {
                position: relative;
                .image-gallery {
                    display: grid;
                    grid-template-rows: 1fr 1fr;
                    grid-template-columns: 1fr 1fr;
                    padding-top: 1rem;
                    // $size: clamp(10rem, 20vw, 15rem);
                    align-items: center;

                    img {
                        // width: calc($size * 1.2);
                        aspect-ratio: 1 / 1;
                        object-fit: cover;
                        border-radius: 1.2rem;
                        &:first-of-type {
                            grid-row: span 2;
                        }
                    }
                }
            }
        }
    }
    

}

/* DESKTOP VIEW */
@media screen and (min-width: 70rem) {
    .about__wrapper {
        $size: clamp(10rem, 20vw, 15rem);
        
        .image-gallery__wrapper .image-gallery {
            gap: calc($size * .1);
            img {
                width: calc($size * 1.2);
            }
        }
    }
}

@media screen and (max-width: 70rem) and (min-width: 40rem) {
    .about__wrapper {
        display: flex;
        $size: 10rem;
        flex-direction: column-reverse;
        align-items: center;
        width: 100vw;
        gap: 1rem;
        
        .image-gallery__wrapper .image-gallery {
            gap: calc($size * .1);
            img {
                width: calc($size * 1.2);
            }
        }
    }
}  

/* MOBILE VIEW */

@media screen and (max-width: 60rem) {
    .about__wrapper {
        display: flex;
        $size: 10rem;
        flex-direction: column-reverse;
        align-items: center;
        width: 100vw;
        gap: 1rem;
        
        .image-gallery__wrapper img {
            width: calc($size) !important;
        }
    }
}  

@media screen and (max-width: 40rem) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        .about__wrapper {
            display: flex;
            $size: 15rem;
            flex-direction: column-reverse;
            align-items: center;
            width: 100vw;
            gap: 1rem;
            
            .image-gallery__wrapper .image-gallery {
                gap: calc($size * .1);
                img {
                    width: calc($size * 1.2);
                }
            }

            .description__wrapper {
                width: 100%;
                h2 {
                    font-size: 2em;
                    margin-bottom: 1rem !important;
                }

                p {
                    font-size: .9rem;
                    margin: 0 !important;
                }
                .button__wrapper {
                    flex-direction: column;
                    align-items: stretch;
                    padding-bottom: 1rem;
                    * button {
                        width: 100%;
                        text-align: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}