<div class="landing-page__wrapper">
  <header>
    <app-menu></app-menu>
    <div class="about__wrapper">
      <div class="description__wrapper">
        <h2>
          <span class="title-highlight">Safehouse</span> Your place to get the
          Work done
        </h2>
        <p>
          Can't find a place to work in peace? <br />
          Check out Safeplace!
        </p>
        <div class="button__wrapper">
          <p-button
            severity="secondary button-full"
            class="secondary"
            (onClick)="router.navigate(['/reservation-list'])"
            >Book now!</p-button
          >
          <p-button
            severity="secondary button-full"
            class="secondary"
            [outlined]="true"
            (onClick)="router.navigate(['/offer'])"
            >Explore our offer</p-button
          >
        </div>
      </div>
      <div class="image-gallery__wrapper">
        <div class="image-gallery">
          <img src="/assets/student.jpg" alt="Workspace 1" />
          <img src="/assets/student2.jpg" alt="Workspace 2" />
          <img src="/assets/student3.jpg" alt="Workspace 3" />
        </div>
      </div>
    </div>
  </header>
</div>
