.reservation-card__card { 
    height: 100%;
    width: 100%;

    h4 {
        font-weight: 500;
        margin-bottom: 0;
        margin-top: .5rem;
    }

    p {
        margin-top: 0;
        margin-bottom: .5rem;
    }
}

.reservation-card__card .user-control__wrapper{
    margin-top: auto;
    display: flex;
    gap: 1rem;
    * {
        flex: 1;
        width: 100%;
        justify-content: center;
    }
}