<p-card class="reservation-card__card h-full" header="Reservation details">
  <div>
    @if (!disabled) { @if (reservationData) {
    <h4>First name</h4>
    <p>{{ reservationData.firstName }}</p>
    <h4>Second name</h4>
    <p>{{ reservationData.secondName }}</p>
    <h4>Email</h4>
    <p>{{ reservationData.email | censorMail }}</p>
    <h4>Payment method</h4>
    <p>{{ reservationData.paymentMethod }}</p>
    <h4>Reservation date</h4>
    <p>
      {{ reservationData.date | customDate }}
    </p>
    <h4>Additional information</h4>
    <p>{{ reservationData.additionalInformation }}</p>
    @if(authService.userSignal()) { @if(authService.userSignal()!.id ===
    reservationData.userId) {
    <div class="user-control__wrapper">
      <p-button
        styleClass="secondary"
        severity="secondary"
        (click)="handleReservationCancel()"
      >
        Cancel
      </p-button>
    </div>
    } } } @else {
    <p>No booking at this time</p>
    <p-button
      styleClass="secondary button-full"
      severity="secondary"
      (click)="handleReservationBook()"
    >
      Book your reservation
    </p-button>
    } } @else {
    <p>Please select date and hour first</p>
    }
  </div>
</p-card>
