.register-card__wrapper {
    display: grid;
    place-items: center;
    min-height: 100vh;

    form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: stretch;        
    }

    form  small:not(.visible) {
        display: none;
    }

    form .register-button {
        width: 100%;
    }

    a {
        text-decoration: none;
        padding: .1rem;
        
        .highlight {
            text-decoration: underline;
            
        }
    }
}