<div class="register-card__wrapper">
  <p-card header="Register">
    <form [formGroup]="registerFrom" (ngSubmit)="handleFormSubmit()">
      <div class="field p-fluid mt-4">
        <p-floatLabel>
          <input
            [class]="{ 'ng-invalid': emailInvalid }"
            type="text"
            id="email"
            pInputText
            formControlName="email"
          />
          <label for="email">Email</label>
        </p-floatLabel>
        <small [class.visible]="emailInvalid" class="p-error"
          >Email is not available.</small
        >
      </div>
      <p-floatLabel>
        <p-password
          formControlName="password"
          id="password"
          [feedback]="false"
        ></p-password>
        <label for="password">Password</label>
      </p-floatLabel>
      <a href="/login">
        You already have an account <br />
        <span class="highlight"> Login </span>
      </a>
      <p-button
        label="Register"
        [text]="true"
        class="secondary"
        type="submit"
        severity="secondary"
        styleClass="register-button"
      ></p-button>
    </form>
  </p-card>
</div>
