@use '@angular/material' as mat;

@include mat.core();

$secondary: #b667f4;
$accent: #faca4d;

.calendar__wrapper {
    width: 100%;
    height: 100%;
}

.calendar-header {
    padding: 0 1rem;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .calendar__controls-wrapper {
        display: flex;
        gap: 1rem;
    }
    
    .control-picker {
        position: relative;
        width: 10rem;
        isolation: isolate;
        z-index: 5;
        input {
            background-color: red;
            background-color: transparent;
            color: transparent;
        }
        
        .month-year__preview {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }
    }
    
}

.calendar-body.loading {
    place-items: center;
    
    .loader {
        grid-column: span 7;
        grid-row: span 4;

        
    }

    .loader > * {
        width: 4rem;
        aspect-ratio: 1 / 1;
    }
}

.calendar-body {
    $day-size: 6vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: .5rem;
    gap: calc($day-size * .2);
    
    
    .calendar-body__day {
        width: 100%;
        aspect-ratio: 1 / 1 !important;
        display: grid;
        place-items: center;
        border-radius: .9rem;
        font-weight: 400;
    }

    .reserved > .calendar-body__day {
        background-color: $accent;
        border: $accent;
    }

    .header {
        font-weight: 400;
    }
}