<p-card class="calendar__wrapper h-full" header="Calendar">
  <div class="calendar-header">
    <div class="calendar__view-display">
      @if(_selectedMonth != null) {
      <div class="control-picker">
        <p-calendar
          (onSelect)="handleDateControlChange($event)"
          view="month"
          ateFormat="mm/yy"
          [readonlyInput]="true"
        ></p-calendar>
        <span class="month-year__preview">
          {{ _selectedMonth }} / {{ _selectedYear }}
        </span>
      </div>
      }
    </div>
    <div class="calendar__controls-wrapper">
      <p-button
        [text]="true"
        severity="secondary"
        aria-label="Example icon button with a vertical three dot icon"
        (click)="handleMonthChange(-1)"
      >
        <i class="pi pi-chevron-left"></i>
      </p-button>
      <p-button
        [text]="true"
        severity="secondary"
        aria-label="Example icon button with a vertical three dot icon"
        (click)="handleMonthChange(1)"
      >
        <i class="pi pi-chevron-right"></i>
      </p-button>
    </div>
  </div>
  <div class="calendar-body">
    <div class="calendar-body__day header">Sun</div>
    <div class="calendar-body__day header">Mon</div>
    <div class="calendar-body__day header">Tue</div>
    <div class="calendar-body__day header">Wen</div>
    <div class="calendar-body__day header">Thu</div>
    <div class="calendar-body__day header">Fri</div>
    <div class="calendar-body__day header">Sat</div>
    @for(day of dayTable; track $index) { @if(day == null) {
    <div class="calendar-body__day"></div>
    } @else {
    <p-button
      styleClass="calendar-body__day secondary"
      [class.reserved]="isReservedDate(day.getDate())"
      severity="secondary"
      (click)="updateSelected(day)"
    >
      {{ day.getDate() }}
    </p-button>

    } }
  </div>
</p-card>
