$secondary: #b667f4;
$accent: var(--primary-color);
$font-scaling: clamp(10px, 2.5vw, 16px);

.calendar__wrapper {
    width: 100%;
    height: 100%;

    /* Adjust font size */
    .p-button,
    .calendar-body__day.header, 
    .p-calendar input, 
    .p-calendar,
    .calendar__controls-wrapper i, 
    .month-year__preview {
        font-size: $font-scaling;
    }
}

.calendar-header {
    padding: 0 1rem;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .calendar__controls-wrapper {
        display: flex;
        gap: 1rem;

        .p-button {
            display: grid;
            place-items: center;
            padding: 1em 1.25em;
        }
    }
    
    .control-picker {
        position: relative;
        width: clamp(6em, 20vw, 10em);
        isolation: isolate;
        z-index: 5;
        input {
            background-color: red;
            background-color: transparent;
            color: transparent;
            padding: .7em 0;
        }
        
        .month-year__preview {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: max-content;
            z-index: -1;
        }
    }
    
}

.calendar-body.loading {
    place-items: center;
    
    .loader {
        grid-column: span 7;
        grid-row: span 4;        
    }

    .loader > * {
        width: 4rem;
        aspect-ratio: 1 / 1;
    }
}

.calendar-body {
    $day-size: 6vw;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: .5rem;
    gap: clamp(.2rem, calc($day-size * .2), 1rem);  
    
    .calendar-body__day {
        width: 100%;
        aspect-ratio: 1 / 1 !important;
        display: grid;
        place-items: center;
        border-radius: .9em;
        font-weight: 400;
    }

    button.calendar-body__day {
        display: grid;
        place-items: center;
        padding: 0;
    }

    .reserved > .calendar-body__day {
        background-color: $accent;
        border: $accent;
    }

    .header {
        font-weight: 400;
    }
}