@use "./themes/dark-theme.scss";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeng/resources/primeng.min.css";
// @import "primeng/resources/themes/lara-light-blue/theme.css";

/* Order */
@layer reset, primeng;

/* Reset CSS */
@layer reset {
    /* RESET */
    html, body { height: 100%; }
    body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
}

body {
    box-sizing: border-box;
    max-width: 100vw;
    font-family: var(--font-family);
    background-color: var(--surface-ground);
    color: var(--text-color);
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// .p-button.secondary {
//     background-color: #ddd;
//     border-color: #ddd;
//     color: #555;
//     transition: filter linear .2s;
// }

.p-button.secondary:hover {
    filter: brightness(105%);
}

.button-full >  button {
    display: grid;
    place-items: center;
    width: 100%;
}

.h-full {
    height: 100%;
    display: block;
    
    .p-card {
        height: 100%
    };
}

.p-card {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.p-card-title {
    font-size: clamp(15px, 5vw, 24px);
}