<p-card class="hour-picker__card h-full" header="Pick reservation hour">
  <div class="hour-picker__buttons">
    @if (!disabled) { @for (hour of combinedHours$ | async; track hour) {
    <p-button
      styleClass="secondary"
      severity="secondary"
      [class]="hour.status ? 'reservation-visible' : ''"
      (click)="hourButtonClicked(hour)"
    >
      {{ hour.element }}
    </p-button>
    } @empty {
    <p>:0</p>
    } } @else {
    <p>Please select a date first</p>
    }
  </div>
</p-card>
